.btn {
  border-radius: 60px;
  font-size: 15px;
  padding: 12px 17px;
}

.btn-primary {
  background-color: var(--green);
  border: 1px solid var(--green);
  color: var(--purple);
}

.btn-primary:hover {
  background-color: var(--purple-dark);
  border: 1px solid var(--purple-dark);
  color: var(--green);
}
