.footer-container {
  background-color: var(--black);
  color: var(--white);
  font-size: 15px;
  letter-spacing: 0.25px;
  line-height: 1.2;
  padding: 70px 0;
  font-weight: lighter;
}

.footer-container .footer-separator {
  border-radius: 3px;
  background: var(--green);
  width: 50px;
  height: 2px;
  margin: 10px 0 25px;
}

.footer-container .footer-logo {
  max-width: 350px;
}

.footer-container .footer-subtitle {
  font-weight: bold;
}

.footer-container .footer-list {
  padding-left: 0;
}

.footer-container .footer-list li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-container .footer-list li a {
  color: var(--white);
}

.footer-container .footer-list li a:hover {
  color: var(--green);
}

.footer-container .footer-social {
  display: flex;
  justify-content: space-between;
}

.footer-container .footer-social .social-icon {
  color: var(--black);
  height: 1.5em;
}
