@import './variables.css';
@import './components.css';
@import './navbar.css';
@import './pages.css';
@import './footer.css';

html,
body {
  color: var(--white);
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira', sans-serif;
}
