@import './variables.css';
@import './components.css';
@import './navbar.css';
@import './pages.css';
@import './footer.css';

html,
body {
  color: var(--white);
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira', sans-serif;
}

a {
  text-decoration: none;
  transition:
    color 0.5s ease,
    transform 0.5s ease;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.dropdown-toggle::after {
  vertical-align: 0.1em;
}
