.content-wrapper {
  background-color: var(--purple);
}

.content-wrapper.top-section {
  padding-top: 100px;
}

.content-wrapper.bottom-section {
  background-image: url('/images/background-2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 0 0;
}

.content-topics {
  background-color: var(--fucsia);
  padding: 25px 0;
}

.content-topics .topic {
  font-family: 'Saira', sans-serif;
  border: 1px solid var(--white);
  margin: 15px;
  padding: 0 10px;
  text-align: center;
  border-radius: 60px;
  font-size: 25px;
  color: var(--white);
  flex: 1 0 auto;
}

.topic:nth-child(1) {
  transform: rotate(-2deg);
}
.topic:nth-child(2) {
  transform: rotate(3deg) translateY(3px);
}
.topic:nth-child(3) {
  transform: translateY(-10px);
}
.topic:nth-child(4) {
  transform: translateY(10px);
}
.topic:nth-child(5) {
  transform: rotate(-5deg) translateY(-2px);
}

.topics-container {
  width: 100%; /* Ensure it takes the full column width */
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents wrapping */
}

.topics-scroll {
  display: flex;
  gap: 10px; /* Space between topics */
}

.content-wrapper .description {
  background-image: url('/images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.content-wrapper .description .subtitle {
  display: block;
  font-size: 20px;
  font-weight: regular;
}

.content-wrapper .description .subtitle.date-text {
  font-weight: 700;
}

.content-wrapper .description .date {
  font-family: 'Saira', sans-serif;
  font-size: 40px;
}

.content-wrapper .description .wrapper-date {
  border: 1px solid var(--white);
  border-radius: 40px;
  text-align: center;
}

.content-wrapper .description .question-ticket {
  padding: 30px 0;
}

.content-wrapper .description .question-ticket .question-description {
  display: block;
  font-size: 20px;
  margin: 5px auto;
}

.content-wrapper .description .question-ticket .button-ticket {
  font-size: 20px;
  margin: 15px auto;
}

.content-wrapper .bold-text {
  color: var(--fucsia-dark);
}

.logo-wrapper {
  margin: 10px auto;
  max-width: 450px;
}

.content-wrapper .content-form {
  padding: 30px 5px;
}

.content-wrapper .content-form .form-title {
  font-size: 25px;
  margin: 15px auto;
  text-align: center;
}

.content-wrapper .content-form .form-group .form-input {
  border-color: 2px solid var(--white);
  border-radius: 40px;
  font-size: 15px;
  margin: 15px auto;
  padding: 8px 20px;
  transition:
    border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.content-wrapper .content-form .form-group .form-input:focus {
  border: 2px solid var(--fucsia);
  outline: none;
}

.content-wrapper .content-form .button-submit {
  padding: 8px 17px;
  font-size: 16px;
  width: 100%;
}

.content-wrapper .content-form .button-submit:disabled {
  background-color: var(--green);
  color: var(--purple);
}

/* Generic Page */

.generic-page {
  background-color: var(--purple);
  padding-bottom: 30px;
  padding-top: 150px;
}

.generic-page .generic-page-wrapper {
  background-image: url('/images/background-3.svg');
  background-size: auto;
  background-repeat: no-repeat;
}

.generic-page .title {
  font-size: 40px;
  margin: 10px auto 50px auto;
  text-align: center;
}

/* Talks */
.talks-type {
  background-color: var(--blue-dark);
  text-align: center;
  padding: 40px 0;
}

.talks-type .background-talks {
  background-image: url('/images/background-type.svg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.talks-type .btn {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.talks-type .type-wrapper {
  margin: 40px auto;
}

.talks-type .type-wrapper .type {
  background-color: var(--blue-dark);
  border: 2px solid var(--pink);
  border-radius: 15px;
}

.talks-type .type-wrapper .type-col {
  margin: 10px auto;
}

.talks-type .type-wrapper .type .type-title {
  color: var(--fucsia-dark);
}

.talks-type .type-wrapper .type p {
  font-size: 18px;
}

/* Questions */

.questions {
  background-color: var(--fucsia-dark);
  text-align: center;
  padding: 40px 0;
}

.questions .background-questions {
  background-image: url('/images/background/background-questions.svg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.questions .title {
  font-size: 35px;
}

.questions-item {
  border: 2px solid var(--white);
  background-color: transparent;
  border-radius: 13px;
  margin: 20px auto;
}

.questions-item .question-header button {
  background-color: var(--fucsia-dark);
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 50px;
}

.questions-item .question-header button:focus {
  box-shadow: none;
}

.questions-item .question-header button::after {
  display: none;
}

.questions-item .question-header .question-title {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.questions-item .question-header .question-icon img {
  max-height: 30px;
}

.questions-item .question-body {
  font-family: 'Nunito', sans-serif;
  border-top: 2px solid var(--white);
  color: var(--white);
  font-size: 17px;
  padding: 30px 50px;
  text-align: left;
}
