:root {
  --purple-dark: #3c00d7;
  --purple: #4100f5;
  --green: #deff00;
  --black: #1a1414;
  --white: #fff8ec;
  --fucsia: #f137a6;
  --fucsia-dark: #df3397;
}

/* @font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-Light.ttf') format('ttf');
  font-weight: 400;
  font-style: light;
}

@font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Saira';
  src: url('/fonts/saira/Saira-Bold-Italic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-Light.ttf') format('ttf');
  font-weight: 400;
  font-style: light;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-Bold.otf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-BoldItalic.otf') format('ttf');
  font-weight: 700;
  font-style: italic;
} */
